# @motionwindui/{{hookName}}

## Description

This hook is used to ...

## Usage

```tsx
import { {{hookName}} } from '@motionwindui/{{hookName}}';

const Component = () => {
  const { ... } = {{hookName}}();

  return (
    <div>
      ...
    </div>
  );
};
```

## API

### {{hookName}}()
